
/* *{border: 1px red solid;} */
/* margin은 마지막에 */
body > div{
    margin: 0 auto;
    width: 300px;
    padding: 40px;
    text-align: center;
    font-size: 16px;
    box-shadow: 2px 2px 5px grey;
}

div > input{
    width: 150px;
    padding: 5px;
    border-radius: 7px;
    border: solid 1px grey;
    margin-bottom: 20px;
}

div > button{
    background-color: blue;
    color: white;
    padding: 5px 12px;
    border-radius: 9px;
    margin-bottom: 30px;
}

div > a{
    color: blue;
    padding-left: 7px;
}

/*.전체창{
    display: inline-block;
    border : solid 0px rgb(239, 192, 192);
    border-bottom: solid 1px rgb(239, 192, 192);
    box-shadow: 0px 8px 10px rgb(239, 192, 192);
    border-radius: 17px;

    padding: 15px;
    margin: 13px;
    text-align: center;
}
.로그인{
    display: inline-block;
    margin: 20px 160px

}
.아이디{
    display: inline-block;
    padding: 13px;
    margin: 18px;
    width: 215px;
    border : solid 1px;
    border-color:grey;
    border-radius: 11px;
    color: black;
}
.비번{
    display: inline-block;
    padding:13px;
    margin-bottom: 22px;
    width: 215px;
    border : solid 1px;
    border-color:grey;
    border-radius: 11px;
    color: black;
}

button{
    display: inline-block;
    border : solid 1px rgb(0, 0, 0);
    background-color: blue;
    color: white;
    width: 85px; height: 36px;
    margin:5px;
    border-radius: 11px;
    font-size: 15px;
}

.구역{
    margin: 30px;
    font-weight: 550;
}
.회원가입{
    color: blue;
    padding-left: 7px;
}
*/