/* *{border: 1px solid red} */
.홈{
    font-size: 25px;

}
.상단{
    border : solid 1px rgb(54, 56, 190);
    
    
}

.메뉴명{
    

}
.주문목록{

}
.메뉴{
    display: flex; 
    justify-content: space-evenly; 
    margin: 10px;
}

.취소{
    margin-top: 50px;
    margin-bottom: 50px;
}
.상품이미지{
    margin-top: 13px;
    width: 100px;
    height: 100px;
}
.상품명{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 18px;
}
.옵션{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 12px;
    width: 38px;
}
.bu{
    font-size: 10px;
    text-align: center;
    height: 20px;
    width: 27px;

    margin-top: 50px;
    margin-bottom: 50px;
}
.수량{
    display: inline-block;
    text-align: center; 
    height: 27px;
    width: 25px;

    margin-top: 47px;
    margin-bottom: 50px;
}
.가격{
    margin-top: 50px;
    margin-bottom: 50px;
}
